@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;700&family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    border: 0px;
    margin: 0px;
}

:root{
    --orange: #f69c15;
    --gray: #231f1f;
    --light-gray: #A39797;
    --lighter-gray: #C5BCBC;
}

body{   
    width: 100vw;
    height: 100vh;
    font-family: "poppins";
    overflow-x: hidden;
    /* background-color: #756969; */
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url(/assets/pexels-cottonbro-studio-4753885.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--gray);

}   

.header{
    display: flex;
    background-color: var(--gray);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    z-index: 99px;
}

.header h1{
    margin-right: 5%;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--orange);
}

.navigation{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation a{
    position: relative;
    font-size: 1em;
    margin-right: 66px;
    text-decoration: none;
    color: #fff;
}

.navigation a::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: var(--orange);
    transform: scale(0);
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.btn-contact{
    position: relative;
    left: 3%;
    color: #000;
    margin-right: 66px;
    background-color: var(--orange);
    width: 160px;
    height: 60px;
    border-radius: 10px;
    font-weight: 600;
    font-family: "poppins";
}

.btn-contact:hover{
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    transform: scale(1.05);
}
.content{
    width: 100%;
    height: 75%;
}

.line{
    width: 100%;
    height: 100px;
    background-color: var(--orange);
}

.section-row-itens{
    width: 100%;
    height: 350px;
}

.row-itens{
    display: flex;
    width: 100%;
    height: 100%;
}

.itens{
    display: flex;
    width: 25%;
    height: 100%;
}

.itens-container{
    position: relative;
    background-color: #231f1f;
    width: 100%;
    height: 100%;
    /* background-image: url("/assets/pexels-cottonbro-studio-4753885.jpg");
    background-position: center;
    background-size: cover; */
}



.itens-container > .itens-background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}

.widget-itens-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.elements-widget-itens-container{ 
    padding: 3rem;
}

.elements-widget-itens-container > h3{
    margin-top: 30%;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}


.btn-itens{
    background: var(--orange);
    color: black;
    cursor: pointer;
    text-align: center;
    width: 175px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 25px;
    border: 1px solid black;
    transition: .3s ease-in-out;
}

.btn-itens:hover{
    color: #fff;
}

.musculacao-img{
    background: url("/assets/musculacao.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

.fit-dance-img{
    background: url("/assets/fit-dance.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

.jiu-jitsu-img{
    background: url("/assets/jiu-jitsu.jpg")no-repeat;
    background-position: center;
    background-size: cover;    
}

.natacao-img{
    background: url("/assets/natacao.jpg")no-repeat;
    background-position: right;
    background-size: cover;
}

.yoga-img{
    background: url("/assets/yoga.jpg")no-repeat;
    background-position: left;
    background-size: cover;
}

.muay-thai-img{
    background: url("/assets/Muay-thai.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

.boxe-img{
    background: url("/assets/boxe.jpg")no-repeat;
    background-position: top;
    background-size: cover;
}

.pilates-img{
    background: url("/assets/Pilates.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}